body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f2f2f2;
}

.container {
  background: #595ca0;
  padding: 30px 50px;
  height: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 6px 9px 23px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 9px 23px -8px rgba(0,0,0,0.75);
box-shadow: 6px 9px 23px -8px rgba(0,0,0,0.75);
}

.username, label{
    font-size: 30px;
    font-weight: 500;
    margin-right: 4px;
    color: #fff;
  }
.username, input {
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 20px;
  }

.password, label{
    font-size: 30px;
    font-weight: 500;
    margin-right: 10px;
    color: #fff;
  }
.password, input {
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 20px;
  }

.show_password, label{
  font-size: 20px;
  color: #fff;
}